[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/hugo-theme-pixyll"]
	path = themes/hugo-theme-pixyll
	url = git@github.com:azmelanar/hugo-theme-pixyll.git
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/hugo-theme-swift"]
	path = themes/hugo-theme-swift
	url = git@github.com:foreverfaint/hugo-theme-swift.git
	branch = main
